*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.player{
    width: 550px;
    transform: translate(80%,10%);
}

@media  screen and (max-width:780px) {
    .player{
        transform: translate(10%,5%);
    }
}